<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<properties>
		<property name="name">lmssync</property>
		<property name="pattern">%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</property>
		<!-- It will look like that: 2013-04-03 07:37:51.993 | WARN | main | lnetgateway.Server:56 
			| My app is logging stuff -->
	</properties>
	<appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="${pattern}" />
		</Console>
		<RollingFile name="RollingFile" immediateFlush="true"
			fileName="../logs/${name}.log" filePattern="../logs/$${date:yyyy-MM}/${name}-%d{yyyy-MM-dd}-%i.log.gz">
			<PatternLayout>
				<pattern>${pattern}</pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true" />
			</Policies>
		</RollingFile>
		<RollingFile name="ErrorsOnly" immediateFlush="true"
			fileName="../logs/${name}-errors.log"
			filePattern="../logs/$${date:yyyy-MM}/${name}-errors-%d{yyyy-MM-dd}-%i.log.gz">
			<PatternLayout>
				<pattern>${pattern}</pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true" />
			</Policies>
		</RollingFile>
	</appenders>
	<loggers>
		<Logger name="org.wpb" level="error">
			<appender-ref ref="ErrorsOnly" />
		</Logger>
		<Logger name="org.wpb" level="debug">
			<appender-ref ref="RollingFile" />
		</Logger>
		
		<root level="debug"> <!-- We log everything -->
			<appender-ref ref="Console" /> <!-- To console -->
		</root>
	</loggers>
</configuration>
